<!DOCTYPE html>
<html lang="en">
<head>
<title>Nutrition Assistant Application</title>
<meta content="PlateJoy is your personal meal planning assistant, providing custom meal plans and recipes. Start your free trial to enjoy recipes tailored to your preferences and needs." name="description">
<meta charset="utf-8">
<link href="/favicon.png" rel="shortcut icon" type="image/png">
<link href="/apple-touch-icon.png" rel="apple-touch-icon">
<link href="/apple-touch-icon.png" rel="shortcut-icon">
<meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="MXoBupivoEIcosJZYNT7pwHzK9Qbcw0oENsZ8UjFIchb9XsuxVHqlSqrwOqmsadk_PCfrEpHxv3v9epPZ9K5EQ" />
<meta content="4.76.00" name="app-version">
<meta content="width=device-width, initial-scale=1, maximum-scale=5, minimum-scale=1, user-scalable=yes" name="viewport">
    <style type='text/css'>.preampjs [data-preamp], .fusejs [data-fuse] {opacity: 0 !important}</style>
<script>
  !function(co,h,e,s,i,o,n){var d='documentElement';var a='className';h[d][a]+=' preampjs fusejs';
  n.k=e;co._Cohesion=n;co._Preamp={k:s,start:new Date};co._Fuse={k:i};co._Tagular={k:o};
  [e,s,i,o].map(function(x){co[x]=co[x]||function(){(co[x].q=co[x].q||[]).push([].slice.call(arguments))}});
  h.addEventListener('DOMContentLoaded',function(){co.setTimeout(function(){
  var u=h[d][a];h[d][a]=u.replace(/ ?preampjs| ?fusejs/g,'')},3e3);
  co._Preamp.docReady=co._Fuse.docReady=!0});var z=h.createElement('script');
  z.async=1;z.src='https://cdn.cohesionapps.com/cohesion/cohesion-health.min.js';h.head.appendChild(z);}
  (window,document,'cohesion','preamp','fuse','tagular',{
    tagular:{writeKey:"wk_1wdlMB0l954X8sRkq2Hb9UwTNRV",sourceKey:"src_1wdlM7mTsZtqLAea5Lkl1m2xeM1", authCookie: 'tglr_auth_id'},
    preamp:{siteId:"3HJazcKhTFrRMXQ0iSjG2G", endpoint:"https://api.hc.preamp.io/api/v1"},
    consent:{required:false}
  })
</script>








  <script src="https://browser.sentry-cdn.com/6.10.0/bundle.min.js" integrity="sha384-nsIkfmMh0uiqg+AwegHcT1SMiPNWnhZmjFDwTshLTxur6ZPNaGT8vwT+vHwI5Jag" crossorigin="anonymous"></script>

  <script>
    Sentry.init({
      dsn: 'https://908471f316134004bcec6690f8c80e0e@sentry.io/273538',
      environment: 'production',
      release: '5.24.00',
      ignoreUrls: [/cdn\.mxpnl\.com/, /cdn\.segment\.com/],
      ignoreErrors: [
        /^twttr is not defined$/,
        /^\$ is not defined$/,
        /^JQuery is not defined$/,
        /^Can't find variable: \$$/,
        /^ResizeObserver loop limit exceeded$/,
        /^null is not an object \(evaluating 'document\.body\.childNodes'\)$/,

        // begin: user does early page cancel
        // see https://stackoverflow.com/questions/55738408/javascript-typeerror-cancelled-error-when-calling-fetch-on-ios
        /^TypeError: NetworkError when attempting to fetch resource$/, // firefox
        /^TypeError: Failed to fetch$/, // chrome
        /^TypeError: cancelled$/, // safari
        // end: user does early page cancel
      ],
      tracesSampleRate: 1.0,
    });
  </script>

<noscript>
  <style>
    .yesscript {
      display: none !important;
    }
  </style>
</noscript>


<link rel="stylesheet" media="all" href="https://static.platejoy.com/assets/v4_landing_pages/application-2e424c82369d08364b98218321c17b56dad5257a95c5a5fda0b4c77530036cb8.css" />
<script src="https://www.googleoptimize.com/optimize.js?id=OPT-WPTFGRZ"></script>
</head>
<body class="static pages home pages-home not-mobile-app">
<header class="non-printer-only">
<a aria-label="Skip to Main Content" class="sr-only" href="#main">&nbsp;</a>

<div class="logo-wrap">
<h3 align="left">Nutrition Assistant</h3>
<i aria-label="PlateJoy Health"></i>
</div>
<nav aria-label="Secondary" class="secondary">
<ul>
<li class="tablet-plus-only">
<a class="home" href="/">Home</a>
</li>
</ul>
</nav>
</header>

<main id="main">
<section class="hero swoosh-hero-image">
<div class="image"></div>
<div class="swoosh"></div>
<div class="content">
<h1>Healthy Eating <br class="tablet-plus-only">for Busy People</h1>
<div class="subtext">Food Scanner, <br class="sub-tablet-only">personalized recipes and <br class="sub-tablet-only">grocery <br class="tablet-plus-only">lists to help you save <br class="sub-tablet-only">time and eat better</div>
<a class="btn btn-cta start-free-trial-cta" href="/login">log in</a>
</div>
</section>

<section class="steps">
<div class="content">
<div class="ul"><div class="li"><div class="image utensils"></div>
<h2 class="h3">Recipes<br class="non-mobile-only"></h2>
<div>We suggest you the tasty and healthy recipe.</div></div><div class="li"><div class="image list"></div>
<h2 class="h3">Scanning the <br class="non-mobile-only">food</h2>
<div>You can find the nutritional fact by Scanning the food easily.</div></div><div class="li"><div class="image delivery-truck"></div>
<h2 class="h3">Smart grocery <br class="non-mobile-only">list</h2>
<div>Our digital pantry takes into account what you have in your kitchen to reduce food waste and save money.</div></div></div>
</div>
</section>

<section class="as-seen-in">
<div class="swoosh top"></div>
<div class="swoosh bottom"></div>
<div class="content">
<h2>Join Thousands of <br>People Eating Better</h2>
<ul class="testimonials">
<li>
</main>